/* Ajustement*/


body
{
    font-family: 'Raleway', sans-serif;
}


.flexbetween
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexcenter
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexaround
{
    display: flex;
    
    align-items: center;
}
.texte_en_gras
{
    font-weight: 700;
}
/*Navbar*/

.bordure
{
    height: 100px;
    width: 94%;
}
.espacement
{
    width: 100%;
}

.espacement_responsive
{margin-left: auto;}

.bordurenav
{
    width: 140px;
    height: 98px;
    
}
.marge_sinscrire
{margin-left: -20px;}

.bordure_bleue
{
    border-top: solid 2px transparent;
}
 .bordure_bleue:hover
{
    border-top: solid 2px #0065fc;
    cursor: pointer;
    
}
.bordure_bleue:hover > a
{
    color: #0065fc;
    
}

.colorlien13, .colorlien2
{
    text-decoration: none;
    font-size: 20px;
       
}
.colorlien13
{
    color: #0065fc;
}
.colorlien2
{
    color: black;
}
#photo_logo
{
    width: 100px;
}

.titre_h1
{
    font-size: 23px;
    font-weight: 800;
}
.sous_titre_h1
{
    margin-top: -10px;
    font-size: 0.9em;
}
/*Champ de recherche*/

.barre_de_recherche
{
    display: flex;
    margin-top: 20px;
    height: 50px;
}
.logo_de_geolocalisation
{
    background-color: #f2f2f2;
    display: flex;
    width: 50px;
    border-radius: 15px 0px 0px 15px;
    justify-content: center;
    align-items: center;
}
.recherche
{
    display: flex;
    width: 200px;
    border: solid 1px #f2f2f2;
    padding: 20px;
    font-size: 17px;
    font-weight: 600;
    
}
::placeholder
{
    color: black;
}
.bouton_recherche
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0065fc;
    color: #fff;
    width: 125px;
    border-radius: 0 15px 15px 0;
    border: none;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}
.invisible
{display: none;}

/*Filtre*/

.titre_filtres
{
    display: inline;
}
#titre_filtre
{display: inline;
font-size: 25px;}

.filtre_liste
{
    display: inline-flex;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;

}
.filtre_boutton
{
    display: inline;
    border: solid 3px #f2f2f2;
    font-weight: 600;
    border-radius: 200px 200px 200px 200px;
    margin-left: 25px;
    padding: 0 18px 0 0;
    height: fit-content;

}
.inline_flex
{display: inline-flex;}

.icon_filtre
{
    color: #0065fc;
    background-color: #deebff;
    padding: 13px;
    border-radius: 200px;
    margin-right: 12px;
}
.filtre_liste li:hover
{
    cursor: pointer;
    background: #deebff;
    transition-duration: 0.30s;
}
.filtre_liste li:hover .icon_filtre
{
    background: white;
    transition-duration: 0.30s;
}
.filtres
{margin-top: 20px;}

/*Info*/

.info .fas
{
    color: #0065fc;
    padding: 5px 8px 5px 8px;
    border: solid 1px #f2f2f2;
    border-radius: 100px;
    font-size: 12px;
}
.logements_500
{
    display: inline;
    margin: 10px;
}     
/*Hébergements*/

.marge_top_hebergement
{
    margin-top: 25px;
}
.flexcolumnbetween
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flexcolumncenter
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexcolumnaround
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.taille_du_bloc_hebergement
{
    flex: 2;
    height: 650px;
    margin-right: 20px;
    border-radius: 20px;
}
.taille_du_bloc_populaire
{
    flex: 1;
    height: 650px;
    border-radius: 20px;
    margin-left: 20px;
}
.fond_gris
{
    background: #f2f2f2;
}
.bloc_hebergement
{
    padding-left: 35px;
    padding-right: 35px;
}
.fond_hebergement
{
    width: 30%;
    height: 200px;
    background-color: white;
    padding: 0.5%;
    border-radius: 15px;
    box-shadow: 0px 0px 6px 0px #0000002e;  
}
.fond_hebergement:hover
{
    cursor: pointer;
    transform: scale(1.1);
}
.cube
{
    width: 90%;

}
.image_hebergement1
{
    background-image: url('img/images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
    width: 100%;
    height: 120px;
    background-position: center;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.image_hebergement2
{
    background-image: url('img/images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg');
    width: 100%;
    height: 120px;
    background-position: center;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.image_hebergement3
{
    background-image: url('img/images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg');
    width: 100%;
    height: 120px;
    background-position: center;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.image_hebergement4
{
    background-image: url('img/images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg');
    width: 100%;
    height: 120px;
    background-position: center;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.image_hebergement5
{
    background-image: url('img/images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg');
    width: 100%;
    height: 120px;
    background-position: center;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.image_hebergement6
{
    background-image: url('img/images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg');
    width: 100%;
    height: 120px;
    background-position: center;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.bloc_1
{
    margin-bottom: 10px;
}
.bloc_2
{
    margin-top: 10px;
}
.nom_hotel
{
    margin: 0;
}
.prix_hotel
{
    margin: 3px 0 3px 0;
}
.cube
{
    margin: 10px;
}
.afficher_plus
{
    text-decoration: none;
    color: black;
    font-weight: 600; 
    font-size: 20px;  
}


/*Populaire*/

.image_pop1
{
    background-image: url('img/images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
    width: 40%;
    height: 150px;
    background-position: center;
    background-size: cover;
    border-radius: 15px 0 0 15px;
}
.image_pop2
{
    background-image: url('img/images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg');
    width: 40%;
    height: 150px;
    background-position: center;
    background-size: cover;
    border-radius: 15px 0 0 15px;
}
.image_pop3
{
    background-image: url('img/images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg');
    width: 40%;
    height: 150px;
    background-position: center;
    background-size: cover;
    border-radius: 15px 0 0 15px;
}
.bloc_pop
{
    padding-left: 20px;
    padding-right: 20px;
}
.fond_pop
{
    background-color: #fff;
    height: 150px;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
    box-shadow: 0px 0px 6px 0px #0000002e;
}
.fond_pop:hover
{
    cursor: pointer;
    transform: scale(1.05);
}
.cube_pop
{
    width: 60%;
    padding-left: 5%;
}
.bloc_pop1_and_2
{
    margin-bottom: 25px;
}
.marge_titre_pop
{
    margin-top: 15px;
}
.etoiles
{
    color: #0065fc;
}
.etoiles_gris
{
    color: #f2f2f2;
}
.marge_texte_nom
{
    margin: 3px 7px 3px 7px;
}

.marge_texte_prix
{
    margin: 7px;
}
.marge_etoiles
{
    margin-top: 50px;
}
.prix
{
    font-weight: bold;
}

/*Activités*/

.activites
{
    margin-bottom: 50px;
    margin-top: 50px;
}
.bloc_activite
{
    width: 100%;
    height: 600px;
}
.image_act1
{
    background-image: url('img/images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg');
    width: 100%;
    height: 530px;
    background-position: center;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.image_act2
{
    background-image: url('img/images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg');
    width: 100%;
    height: 250px;
    background-position: center;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.image_act3
{
    background-image: url('img/images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg');
    width: 100%;
    height: 150px;
    background-position: center;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.image_act4
{
    background-image: url('img/images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg');
    width: 100%;
    height: 530px;
    background-position: center;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.image_act5
{
    background-image: url('img/images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg');
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.image_act6
{
    background-image: url('img/images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg');
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.cube_activite
{
    width: 23%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px #f2f2f2, -3px -3px #f2f2f2;
}
.cube_activite:hover
{
    cursor: pointer;
    transform: scale(1.02);
}
.cube_activites
{
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px #f2f2f2, -3px -3px #f2f2f2;
}
.cube_activites:hover
{
    cursor: pointer;
    transform: scale(1.02);
}
.bloc_activites
{
    width: 23%;
    height: 600px;
}
.hauteur_titre
{
    height: 70px;
}
.titre_activite
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    width: 95%;
}
/*Footer*/

.footer
{
    height: 300px;
    margin-top: 75px;
}
.taille_bloc_footer
{
    height: 150px;
}
.marge_bloc3
{
    margin-right: 20%;
}
.marge_bloc1
{
    margin-left: 5%;
}
nav, main, .bloc_flexbetween
{
    margin-left: 50px;
    margin-right: 50px;
}
.lien_footer
{
    color: black;
    text-decoration: none;   
}
.lien_footer:hover 
{
    color: #0065fc;
}
.hauteur_lien_footer
{
    height: 30px;
}

/*Responsive*/

/*Tablette*/
/*hebergement et populaire*/

@media screen and (max-width: 1240px) {

.mobile_section_pop_hebergement
{flex-direction: column-reverse;
width: 100%;}  

.bloc_pop
{flex: none;
width: 90%;
margin-left: 0;
padding: 5%;}    

.bloc_hebergement
{flex: none;
width: 90%;
margin-right: 0;
margin-top: 0;
padding: 5%;
margin-top: 30px;}

.marge_titre_pop
{margin-bottom: 25px;
margin-top: 0;}    
}

@media screen and (max-width:940px) {

#marge_filtre_responsive
{margin-top: 15px;}

}

/* Smartphone*/

@media screen and  (max-width: 800px) 

/*hebergement et populaire*/
{
.mobile_section_pop_hebergement
{flex-direction: column-reverse;
width: 100%;}

.bloc_pop
{flex: none;
width: 90%;
margin-left: 0;
padding: 5%;}

.bloc_hebergement
{flex: none;
width: 90%;
margin-right: 0;
margin-top: 0;
padding: 5%;}

.bloc_1
{flex-direction: column;
margin-bottom: 0;}

.bloc_2
{flex-direction: column;
margin-top: 0;}

.bloc_hebergement
{height: auto;}

.fond_hebergement
{width: 100%;
margin-bottom: 15px;}

.fond_white
{background-color: white;}

.bloc_activite
{flex-direction: column;
height: auto;}

.cube_activite
{width: 90%;
height: 200px;   
margin-bottom: 25px;}

.bloc_activites
{width: 90%;
height: auto;}   


.cube_activites
{width: 100%;
height: 200px;     
margin-bottom: 25px;}

.image_act1,.image_act2,.image_act3,.image_act4,.image_act5,.image_act6
{height: 200px;}

.taille_du_bloc_populaire

{height: 625px;
border-radius: 0;}

.cube_activite:hover

{cursor: pointer;
transform: scale(1.1);}

.cube_activites:hover

{cursor: pointer;
transform: scale(1.1);}

.margin_responsive

{margin-left: 15px;}

/*Footer*/

.footer
{flex-direction: column;
align-items: flex-start;
height: auto;
padding: 30px;
margin-top: 0}

.marge_bloc1
{margin-left: 0;}

main
{margin: 0;}

/*Info*/

.info
{display: flex;
align-items: baseline;
margin-left: 15px;}

/*Filtre*/

.filtre_responsive
{display: inline-flex;}

.filtre_boutton
{margin-top: 15px;
margin-left: 0;}

.marge_bouton_responsive
{margin-left: 6px;}

#titre_filtre

{margin-left: 8px;
margin-top: 30px;}

.filtre_boutton
{margin-left: 25px;}

#marge_filtre_responsive


/*Champ de recherche*/
.barre_de_recherche
{position: relative;
margin-top: 40px;
margin-left: 12px;}

.recherche
{width: 240px;
height: 49px;}

#bouton_recherche

{display: none;}

#loupe

{display: block;
position: relative;
right: 30px;   
border-radius: 20px;
width: auto;}

.bouton_recherche
{width: 0;
padding: 17px;}

.barre_de_recherche
{margin-left: 12px;}

/*Titre trouvez votre hebergement*/

.titre_h1
{margin-left: 13px;
font-size: 21px;
margin-top: 30px;}

.sous_titre_h1
{margin-left: 13px;
margin-top: 0;}

/*Navbar*/

.espacement_responsive
{display: flex;
align-items: center;
justify-content: space-around;
height: 25px;
margin-top: 15px;
width: 100%;
padding: 5px;
border-bottom: #f2f2f2 solid 2px;}

.position
{position: absolute;
top: 16px;
right: 5px;}

.none
{display: block;}


#photo_logo
{margin-left: 15px;}

#width_sinscrire
{width: 30%;}

.bordurenav
{width: 50%;
height: 36px;}

nav
{margin-left: 0;}

.bordure_gris

{border-bottom: #f2f2f2 solid 2px;}

.bordure_bleue:hover
{
border-bottom: solid 2px #0065fc;
cursor: pointer;
border-top: transparent;

}
.bordure_bleue:hover > a
{
color: #0065fc;

}
.bordure_inscrire_responsive
{
border-top: solid 2px transparent;
}
.bordure_inscrire_responsive:hover
{
border-top: solid 2px #0065fc;
cursor: pointer;
border-bottom: transparent;

}
.bordure_inscire_responsive:hover > a
{
color: #0065fc;   
}
.bordure
{width: 99%;}
}
@media screen and (max-width: 680px) {
    
    #titre_filtre
    {margin-top: 30px;}
}

@media screen and (max-width :480px) {
    #marge_filtre_responsive
    {margin-left: 25px;
    margin-top: 15px;}

    #marge_filtre_responsive_romantique
    {margin-left: 25px;}
}

@media screen and (max-width : 460px) {
    .titre_filtres
    {margin-left: 8px;
    margin-top: 25px;}

    #titre_filtre
    {margin: 0;}

    #filtre_economique
    {margin-left: 2px;}

    #marge_filtre_responsive_romantique
    {margin-left: 2px;}

    #marge_filtre_responsive
    

    .filtre_liste
    {margin: 0;}

    .filtres
    {margin-top: 20px;}

    .info
    {margin-top: 15px;}
}
@media screen and (max-width : 454px) {
    #filtre_economique
    {margin-left: 15px;}
    #marge_filtre_responsive_romantique
    {margin-left: 15px;}
    #marge_filtre_responsive
    {margin-left: 15px;}
}

@media screen and (max-width : 384px) {
    #filtre_economique
    {margin-left: 5px;}
    #marge_filtre_responsive_romantique
    {margin-left: 5px;}
    #marge_filtre_responsive
    {margin-left: 5px;}
}
@media screen and (max-width : 375px) {
    #marge_filtre_responsive
    {margin-left: 2px;}
}